# Environment Variables
.env
.venv
env/
venv/
ENV/
env.bak
venv.bak

# Python
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Streamlit
.streamlit/

# VS Code
.vscode/

# PyMuPDF
*.pdf
!data/sample_resume.pdf
